<div class="meetings">

    <div class="padding-left">
        <a class="button" ng-click="createMeeting()">+ New meeting</a>
    </div>
    <section class="block-list">
        <header>Meetings</header>
        <ul>
            <li ng-repeat="meeting in meetings | orderBy:'-startedAt'"><a ng-click="loadMeeting(meeting.id)">{{meeting.title}}</a></li>
        </ul>
    </section>

</div>