// Define the variables
$padding: 12px;

/* Add a padding */
.padding {
    padding: $padding;
}

/* Add a padding on the left */
.padding-left {
    padding-left: $padding;
}

/* Add a padding on the right */
.padding-right {
  padding-right: $padding;
}

/* Add a large padding on the left */
.padding-left-large {
    padding-left: 2 * $padding;
}

/* Remove the overlay for meetings */
#meetings {
    overflow-x: hidden !important;
}

/* Add some spacing for block lists */
.block-list ul li a {
    padding: 15px 30px;
}

/* Add some spacing for the header */
header {
    padding-left: 15px;
}