<div>

    <div class="grid-block wrap">

        <div class="grid-block vertical">

            <div class="grid-block">
                <div class="grid-block shrink">
                    <a ng-click="toggleAction()" ng-class="{alert: (state == 'recording'), success: (state != 'recording')}" class="button">{{action}}</a>
                </div>
                <div class="grid-block">
                    <input type="text" name="meeting" placeholder="Meeting name" ng-change="save()" ng-model="meeting.title" />
                </div>
            </div>

            <div class="grid-block">
                <div class="small-12" ng-show="state != 'initial'">
                    <textarea rows="5" class="txtRecording">{{meeting.recognized}}</textarea>
                </div>
            </div>

        </div>

        <div class="grid-block vertical shrink padding-left">
            <div class="grid-block">
                <a ng-click="remove()" ng-show="state != 'initial'" class="button alert">Delete</a>
            </div>
            <div class="grid-block vertical log" ng-show="state != 'initial'">
                <div>
                    <h3>Started at</h3>
                    {{meeting.startedAt | date:dateFormat}}
                </div>
            </div>
        </div>

    </div>

</div>